/* Color Palette:
https://colorhunt.co/palette/163855
*/

body {
  margin: 0;
  text-align: center;
  font-family: 'Nunito', serif;
  color: #40514E;
  height: 100%;
}

h1 {
  color: #66BFBF;
  font-size: 5rem;
  font-family: 'Sacramento', cursive;
  margin: 0 auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
}

h3 {
  color: #11999E;
  font-family: 'Merriweather',sans-serif;
}

td {
  padding: 0 40px;
}
table {
  margin: 20px auto;
}

span {
  text-decoration: underline;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 8%;
}
/*********** Class Selectors ***********/
.copyright {
  color: #EAF6F6;
  font-family: "Merriweather", sans-serif;
  font-size: 0.75rem;
  margin: 20px auto 0 auto;
}

.dot-line {
  opacity: 0.2;
  margin: 80px auto;
  clear: both;
}

.footer-link {
  font-size: 20px;
  margin: 10px 20px;
  color: #11999E;
  font-family: Nunito, serif;
  text-decoration: none;
}

.center-img {
  width: 65%;
  margin: 30px 350px;
}

.center-img-div {

}

.top-container {
  background-color: #e3f6f5;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;
  height: 100%;
  text-align: left;
  line-height: 1.5;
}

.top-container-content {
  font-size: 1.25rem;
  position: relative;
  bottom: 20px;
  width: 80%;
  margin: 40px 0 40px 350px;
}

.middle-container {
  margin-top: 40px;
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 80px;
  padding: 50px 0 20px 0;
}

.img-left {
  float: left;
  margin: auto 40px auto 40px;
  position: relative;
  bottom: 10px;
}


/* .top-cloud {
  position: absolute;
  top: 35px;
  right: 100px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 100px;

} */

.subtitle  {
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
  padding: 50px 0;
}

.proj-content-right{
  text-align: right;
}
.skill-img-left{
  width : 20%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}


.skill-img-right{
  width : 15%;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
}

.proj-title {
  font-family: Merriweather, sans-serif;
  font-size: 3rem;
  text-align: left;
}

.proj-page {
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
}

.app-table {
  table-layout: fixed;
  width: 100%;
}

.contact-button {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #66BFBF);
   background-image: -moz-linear-gradient(top, #3D94F6, #66BFBF);
   background-image: -ms-linear-gradient(top, #3D94F6, #66BFBF);
   background-image: -o-linear-gradient(top, #3D94F6, #66BFBF);
   background-image: -webkit-gradient(to bottom, #3D94F6, #66BFBF);
   -webkit-border-radius: 26px;
   -moz-border-radius: 26px;
   border-radius: 26px;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 15px;
   font-weight: 100;
   padding: 15px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.contact-button:hover {
   border: solid #000000 0;
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #3D94F6);
   background-image: -moz-linear-gradient(top, #66BFBF, #3D94F6);
   background-image: -ms-linear-gradient(top, #66BFBF, #3D94F6);
   background-image: -o-linear-gradient(top, #66BFBF, #3D94F6);
   background-image: -webkit-gradient(to bottom, #66BFBF, #3D94F6);
   -webkit-border-radius: 26px;
   -moz-border-radius: 26px;
   border-radius: 26px;
   text-decoration: none;
}
